.sreview-seller-review-container {
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sreview-rating-input {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .sreview-bottle {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
  }
  
  .sreview-bottle.selected {
    color: #1bb7ff;
  }
  
  .sreview-review-input {
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .sreview-confirm-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  .sreview-confirm-button:hover {
    background-color: #45a049;
  }

  /* 닫기 버튼 스타일 */
.sreview-closePopup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}

.sreview-closePopup-button:hover {
  color: #555;
}
  